*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.navbar{

    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.main{

    height: 65vh;
    width: 88vw;
    margin-left: 6vw;
    background-color:rgb(238, 121, 19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} 
  
.menuList li{

    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.accountList li{

    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.menuList li:hover{
    background-color:rgb(238, 121, 19);
    cursor: pointer;
}

.accountList li:hover{
    background-color:rgb(238, 121, 19);
    cursor: pointer;
}

#Soylent{
    padding: 8px;
    border: 2px solid black;
    font-weight: bolder;
}

.image{
    height: 40vh;
    width: 30vw;
}

.content{
    font-size: 16px;
    height: 40vh;
    width: 30vw;
    
}

.image img{

    height: 40vh;
    width: 20vw;
}

#mybtn{
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: magenta;
    border: 1px solid rgb(112, 65, 112);
    border-radius: 5px;
    box-shadow: 2px 2px 0px 2px black;
    margin-top: 1.2rem;
}

#mybtn:hover{
    color: black;
    background-color: rgb(238, 121, 19);
    cursor: pointer;
}

#para{
    margin-top: 1rem;
}

#note{
    font-size: 17px;
    margin-left: 10rem;
}












